.square_viewport
  .standard_group
    .long_short.text_square
      %h3 Sign Up to Immige!

    %a{href: user_omniauth_authorize_path('twitter')}
      .standard_square.sprite-twitter.has-tip{"data-tooltip" => "", "data-options" => "disable_for_touch:true", title: "Sign up using Twitter"}
      
    %a{href: user_omniauth_authorize_path('facebook')}
      .standard_square.sprite-facebook.has-tip{"data-tooltip" => "", "data-options" => "disable_for_touch:true", title: "Sign up using Facebook"}

    .long_short

      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        %div
          = f.text_field :user_name, autofocus: true, placeholder: "Your Immige user name"
        %div
          = f.email_field :email, placeholder: "Email address"
        %div
          = f.password_field :password, autocomplete: "off", placeholder: "Password"
        %div
          = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation"
        %div
          = f.label :profile_pic, "Profile Picture"
          = f.file_field :profile_pic
        %div
          = f.submit "Sign up", class: "button tiny expand"

