= form_for @album do |f|
  .field
    = f.label :name
    %br/
    = f.text_field :name, :autofocus => true, placeholder: 'Name'
  .field
    = f.label :description
    %br/
    = f.text_field :description, placeholder: 'Description'

    = f.hidden_field :user_id, value: current_user.id

  .actions
    = f.submit