.long_short
  = form_for([@album, @picture]) do |f|
    .field
      = f.text_field :name, :autofocus => true, placeholder: 'Name'
    .field
      = f.file_field :picture_image, :multiple => true
    .field
      = f.text_field :tag_list, placeholder: 'Tag List'
    .actions
      = f.submit 'Save Photo', class: 'button tiny expand'