.square_viewport
  .large_square
    %img{src: @picture.picture_image.detail}/
  .standard_group
    .standard_square.text_square
      %h3
        = @picture.name
        %br
        %small
          / by #{@picture.user.user_name}
      .inner_text
        %span.badge= @picture.votes_for.up.count
        %p Likes:
        %span.badge= @picture.comments.count
        %p Comments:
    .tiny_group
      .tiny_square
        / %img{src: @picture.user.profile_pic} to be fixe
      .tiny_square

      .tiny_square
      .tiny_square

    .long_short
      = raw @picture.tag_list.map { |t| link_to t, tag_path(t), class: "tag" }.join(' ')


/   = link_to image_tag(@picture.picture_image.thumb.url)

/ %ul
/   %li
/     = link_to('Edit Picture', edit_album_picture_path(@picture.album))
/     = link_to('Delete Picture', ([@picture.album, @picture]), :method => :delete, :confirm => 'Are you sure?')
/     = link_to('Back', album_pictures_path(@picture.album))
