.square_viewport
  %a{href: @picture.picture_image.file.file}
    .large_square
      %img{src: @picture.picture_image.detail}/
  .large_square
    %p Camera Model: #{@picture.camera_model}
    %p Date and Time: #{@picture.datetime}
    %p Height: #{@picture.image_height} px
    %p Width: #{@picture.image_length} px
    %p Exposure Time: #{@picture.exposure}
    %p Latitude: #{@picture.latitude}
    %p Longitude: #{@picture.longitude}
  #map_canvas
  .standard_group
    .standard_square.text_square
      %h3
        = @picture.name
        %br
        %small
          by #{@picture.user.user_name}
      .inner_text
        %span.badge= @picture.votes_for.up.count
        %p Likes:
        %span.badge= @picture.comments.count
        %p Comments:
    .tiny_group
      .tiny_square
        %img{src: @picture.user.profile_pic}
      .tiny_square.sprite-share
      .tiny_square.sprite-albums
      - if @picture.album.user == current_user
        .tiny_square.sprite-edit
      - else
        = link_to inappropriate_album_picture_path(@album, @picture) do
          .tiny_square.sprite-flag


    .long_short.tag_list
      = raw @picture.tag_list.map { |t| link_to t, tag_path(t), class: "tag" }.join(' ')
      
    .long_short
      = form_for([@album, @picture, @comment]) do |f|
        = f.text_area :comment, {placeholder: "Add a comment..."}
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :commentable_type, value: "Picture"
        = f.submit

    = render @picture.comments[0...@picture.comments.count]


/   = link_to image_tag(@picture.picture_image.thumb.url)

/ %ul
/   %li
/     = link_to('Edit Picture', edit_album_picture_path(@picture.album))
/     = link_to('Delete Picture', ([@picture.album, @picture]), :method => :delete, :confirm => 'Are you sure?')
/     = link_to('Back', album_pictures_path(@picture.album))
