%h1 
  = @picture.name
  = raw @picture.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
  = image_tag @picture.picture_image.url
%ul
  %li
    = link_to('Edit Picture', edit_album_picture_path(@picture.album))
    = link_to('Delete Picture', ([@picture.album, @picture]), :method => :delete, :confirm => 'Are you sure?')
    = link_to('Back', album_pictures_path(@picture.album))