!!!
%html
  %head
    %title Immige
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyBd4uzoH-KKO0wiuKVEHF_mk2fQnKDjXlA&sensor=FALSE", type: "text/javascript"}
    %meta{charset: "utf-8"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  %body

    .off-canvas-wrap.docs-wrap{"data-offcanvas" => ""}
      .inner-wrap
        %nav.tab-bar
          %section.middle.tab-bar-section
            = link_to image_tag( '/immige_name2.png'), "/"
          %section.right-small
            %a.right-off-canvas-toggle.menu-icon
              %span
        %aside.right-off-canvas-menu
          %ul.off-canvas-list
            - if current_user
              %li
                %label= current_user.email
              %li= link_to "Log out", destroy_user_session_path, method: :delete
              %li= link_to('My Albums', albums_path)
              %li= link_to('Edit Settings', edit_user_registration_path)
            - else
              %li= link_to "Sign In", new_user_session_path
              %li= link_to "Register", new_user_registration_path

        %section.main-section
          .row
            .large-12.columns
              / %img#user_image{src: current_user.profile_pic}/
              %p.notice= notice # Needed for Devise to alert User
              %p.alert= alert

              = yield

        %footer 
          = link_to 'About us', page_path('about')
          = link_to 'Contact', page_path('contact')
          = link_to 'Terms and Conditions', page_path('legal/terms')
          = link_to 'Privacy', page_path('legal/privacy')

        %a.exit-off-canvas
      = javascript_include_tag "application"
      = yield :footer_javascripts