!!!
%html
  %head
    %title PhotoSharing
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body

    %header
      = search_form_for @q, url: search_albums_path, html: { method: :post } do |f|
        %p
          = f.label :name_cont
          = f.text_field :name_cont
        %p
          = f.submit

    .login
      - if current_user
        = current_user.email
        = link_to "Log out", destroy_user_session_path, method: :delete
        %img#user_image{src: current_user.profile_pic}/
      - else
        = link_to "Sign In", new_user_session_path
        = link_to "Register", new_user_registration_path

    %p.notice= notice # Needed for Devise to alert User
    %p.alert= alert

    #homepage

      = link_to('Albums', albums_path)

      %section#main      
        = yield