!!!
%html
  %head
    %title PhotoSharing
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body

    .login
  - if current_user
    = current_user.email
    = link_to "Log out", destroy_user_session_path, method: :delete
  - else
    = link_to "Sign In", new_user_session_path
    = link_to "Register", new_user_registration_path

    %p.notice= notice # Needed for Devise to alert User
    %p.alert= alert

    #homepage

      = link_to('Albums', albums_path)
      = link_to('Pictures', pictures_path)

      %section#main      
        = yield